<div class="container">
    <hr>
    <h2 class='text-center m-5'>Education</h2>


    <div class="row justify-content-end">
        <div class="col-2 mb-4 text-center vertical-center">
            2020
        </div>
        <div class="card mb-4 p-0 col-10">
            <div class="row m-0">
                <div class="col-3 p-0">
                    <img src="../../../assets/img.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-9 p-0">
                    <h3>Nom du diplome</h3>
                    <P>Description de la formation</P>
                </div>
            </div>
        </div>

    </div>


</div>