<div class="container pt-4">
    <hr>
    <h2 class='text-center m-5'>Recent Projects</h2>
    <div class="row justify-content-around">


        <div class="card col-lg-4 col-md-6 col-sm-10 p-3 mb-5 border-0 project-card project-card">
            <div class="card-body bg-light">
                <h5 class="card-title text-center">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
            <div class="card-footer p-0 mt-0 border-0 overflow-hidden">
                <div class="d-flex">
                    <a href="" class='col-6 pt-3 pb-3 text-dark link-button'>
                        <div class='text-center'><i class="fab fa-github"></i>  Github</div>
                    </a>
                    <a href="" class='col-6 pt-3 pb-3 text-dark link-button'>
                        <div class='text-center'><i class="fas fa-link"></i>  Lien du site</div>
                    </a>
                </div>
            </div>
        </div>

        <div class="card col-lg-4 col-md-6 col-sm-10 p-3 mb-5 border-0 project-card project-card">
            <div class="card-body bg-light">
                <h5 class="card-title text-center">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
            <div class="card-footer p-0 mt-0 border-0 overflow-hidden">
                <div class="d-flex">
                    <a href="" class='col-6 pt-3 pb-3 text-dark link-button'>
                        <div class='text-center'><i class="fab fa-github"></i>  Github</div>
                    </a>
                    <a href="" class='col-6 pt-3 pb-3 text-dark link-button'>
                        <div class='text-center'><i class="fas fa-link"></i>  Lien du site</div>
                    </a>
                </div>
            </div>
        </div>

        <div class="card col-lg-4 col-md-6 col-sm-10 p-3 mb-5 border-0 project-card project-card">
            <div class="card-body bg-light">
                <h5 class="card-title text-center">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
            <div class="card-footer p-0 mt-0 border-0 overflow-hidden">
                <div class="d-flex">
                    <a href="" class='col-6 pt-3 pb-3 text-dark link-button'>
                        <div class='text-center'><i class="fab fa-github"></i>  Github</div>
                    </a>
                    <a href="" class='col-6 pt-3 pb-3 text-dark link-button'>
                        <div class='text-center'><i class="fas fa-link"></i>  Lien du site</div>
                    </a>
                </div>
            </div>
        </div>

        <div class="card col-lg-4 col-md-6 col-sm-10 p-3 mb-5 border-0 project-card project-card">
            <div class="card-body bg-light">
                <h5 class="card-title text-center">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
            <div class="card-footer p-0 mt-0 border-0 overflow-hidden">
                <div class="d-flex">
                    <a href="" class='col-6 pt-3 pb-3 text-dark link-button'>
                        <div class='text-center'><i class="fab fa-github"></i>  Github</div>
                    </a>
                    <a href="" class='col-6 pt-3 pb-3 text-dark link-button'>
                        <div class='text-center'><i class="fas fa-link"></i>  Lien du site</div>
                    </a>
                </div>
            </div>
        </div>

        <div class="card col-lg-4 col-md-6 col-sm-10 p-3 mb-5 border-0 project-card project-card">
            <div class="card-body bg-light">
                <h5 class="card-title text-center">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
            <div class="card-footer p-0 mt-0 border-0 overflow-hidden">
                <div class="d-flex">
                    <a href="" class='col-6 pt-3 pb-3 text-dark link-button'>
                        <div class='text-center'><i class="fab fa-github"></i>  Github</div>
                    </a>
                    <a href="" class='col-6 pt-3 pb-3 text-dark link-button'>
                        <div class='text-center'><i class="fas fa-link"></i>  Lien du site</div>
                    </a>
                </div>
            </div>
        </div>

        <div class="card col-lg-4 col-md-6 col-sm-10 p-3 mb-5 border-0 project-card project-card">
            <div class="card-body bg-light">
                <h5 class="card-title text-center">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
            <div class="card-footer p-0 mt-0 border-0 overflow-hidden">
                <div class="d-flex">
                    <a href="" class='col-6 pt-3 pb-3 text-dark link-button'>
                        <div class='text-center'><i class="fab fa-github"></i>  Github</div>
                    </a>
                    <a href="" class='col-6 pt-3 pb-3 text-dark link-button'>
                        <div class='text-center'><i class="fas fa-link"></i>  Lien du site</div>
                    </a>
                </div>
            </div>
        </div>


    </div>
</div>