<div class="container">
    <h2 class='text-center m-5'>About Me</h2>
    <div class="card">
        <div class="row">
            <div id="about" class="col-md-6">
                <div class="card-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, architecto deleniti dolores quam,
                        consequuntur dicta perferendis facilis, adipisci iure veniam deserunt recusandae saepe fugit
                        mollitia soluta numquam nemo possimus odio.
                    </p>
                </div>
            </div>
            <div id="informations" class="col-md-6">
                <div class="card-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, architecto deleniti dolores quam,
                        consequuntur dicta perferendis facilis, adipisci iure veniam deserunt recusandae saepe fugit
                        mollitia soluta numquam nemo possimus odio.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>