<div class="container">
    <hr>
    <h2 class='text-center m-5'>Skills</h2>
    <div class="card">
        <div class="row">
            <div class="col-md-6">
                <div class="card-body">
                    <div><p>Compétence...</p></div>
                    <div class="bar">
                        <div class="percentage has-tip"  style="width: 50%" data-perc="50%">
                        </div>
                      </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <div><p>Compétence...</p></div>
                    <div class="bar">
                        <div class="percentage has-tip"  style="width: 50%" data-perc="50%">
                        </div>
                      </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <div><p>Compétence...</p></div>
                    <div class="bar">
                        <div class="percentage has-tip"  style="width: 50%" data-perc="50%">
                        </div>
                      </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <div><p>Compétence...</p></div>
                    <div class="bar">
                        <div class="percentage has-tip"  style="width: 50%" data-perc="50%">
                        </div>
                      </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <div><p>Compétence...</p></div>
                    <div class="bar">
                        <div class="percentage has-tip"  style="width: 50%" data-perc="50%">
                        </div>
                      </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <div><p>Compétence...</p></div>
                    <div class="bar">
                        <div class="percentage has-tip"  style="width: 50%" data-perc="50%">
                        </div>
                      </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <div><p>Compétence...</p></div>
                    <div class="bar">
                        <div class="percentage has-tip"  style="width: 60%" data-perc="50%">
                        </div>
                      </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <div><p>Compétence...</p></div>
                    <div class="bar">
                        <div class="percentage has-tip"  style="width: 50%" data-perc="50%">
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>