
<header class='container-fluid text-center bg-light pb-4' id='presentation'>
    <div class="row">
        <div class="col-lg-12 col-md-4 col-sm-5 mx-auto">
            <img src='../../assets/profil.jpg' class='rounded-circle img-fluid col-lg-2'>
        </div>
        <div class="col-lg-7 text-center my-auto mx-auto">
            <h1>Pierre-Yves Billières</h1>
            <p>Développeur Web Junior</p>
            <div class="button-container">
                <a class="btn-circle m-2" href="" target="_blank" rel="tooltip" title="Follow me on Facebook">
                    <i class="fa fa-facebook btn-icon"></i>
                </a>
                <a class="btn-circle m-2" href="" target="_blank" rel="tooltip" title="Follow me on Linkedin">
                    <i class="fa fa-linkedin btn-icon"></i>
                </a>
                <a class="btn-circle m-2" href="" target="_blank" rel="tooltip" title="Follow me on Github">
                    <i class="fa fa-github btn-icon"></i>
                </a>
                <a class="btn-circle m-2" href="#" target="_blank" rel="tooltip" title="Follow me on Google+">
                    <i class="fas fa-envelope btn-icon"></i>
                </a>
            </div>
        </div>
    </div>
</header>